<div class="templates" xmlns="http://www.w3.org/1999/html">

    <div class="cuisine-template cuisine-container">
        <div class="cuisine-inner-box col-xs-12 well-color">
            <h3 class="cuisine-js"><span class="cuisine-name-js"></span>
                <button type="button" class="display-none delete-cuisine-btn-js btn btn-xs cuisine-hover-toggle-js"><span class="glyphicon glyphicon-trash"></span></button>
            </h3>
            <div class="recipes-index recipes-tab-js">
            </div>
        </div>
    </div>

    <div>
        <table>
            <tr class="recipe-row-template input-md recipe-row-js">
                <td >
                    <span class="glyphicon glyphicon-book"></span>
                    <span class="recipe-ref-js" data-l10n-id="ln10-empty-cuisine">&nbsp;></span>
                    <!--<a class="recipe-ref-js" href="javascript:void(0)" data-l10n-id="ln10-empty-cuisine">&nbsp;</a>-->
                </td>
                <td class="display-none recipe-hover-toggle-js">
                    <button type="button" class="edit-recipe-btn-js btn btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button" class="delete-recipe-btn-js btn btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <datalist id="cuisines-datalist" class="input-md">
            <select name="cuisines">
            </select>
        </datalist>
    </div>

    <div class="recipe-view-template input-md">
        <!--<h3 class="recipe-view-heading text-muted"></h3>-->
        <div>
            <label class="recipe-label" for="recipe-cuisine" data-l10n-id="ln10-recipe-type"></label>
            <span id="recipe-cuisine"></span>
        </div>

        <div>
            <div>
                <label class="recipe-label recipe-ingreds-table-label-js" data-l10n-id="ln10-recipe-ingreds"></label>
            </div>
            <div>
                <table class="recipe-ingreds-table-js">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div>
            <div>
                <label class="recipe-label" for="recipe-method" data-l10n-id="ln10-recipe-method"></label>
            </div>
            <div>
                <!--<textarea readonly id="recipe-method" rows="10" class="well-color"></textarea>-->
                <blockquote id="recipe-method" rows="10" class="blockquote-reverse input-md"></blockquote>
            </div>
        </div>
    </div>

    <div>
        <table>
            <tr class="ingred-row-template">
                <td><span>&#x2668;</span></td><td><span>&nbsp;</span></td><td class="ingred-data table-rtl"></td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr class="input-ingred-row-template width-100">
                <td class="width-100"><input name="ingredient"></td>
                <!--<td><input name="ingred-name"></td>-->
                <!--<td><input type="number" name="ingred-qty" min="0" step="any" placeholder="0"></td>-->
                <!--<td><input name="ingred-units"></td>-->
            </tr>
            </tr>
        </table>
    </div>

</div> <!-- templates -->

