<!DOCTYPE html>
<html>
  <% include ../partials/head.ejs %>

  <body id="dd" class="index text-primary">

    <% include ../partials/header.ejs %>
    <% include ../partials/content.ejs %>
    <% <!--include ../partials/contentJs.ejs--> %>
    <% include ../partials/showRecipes.ejs %>
    <% include ../partials/createUpdateRecipe.ejs %>
    <% include ../partials/about.ejs %>

    <% include ../partials/footer.ejs %>
    <% include ../templates/allTemplates.ejs %>

  </body>
</html>
