<!DOCTYPE html>
<html>
  <!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/css/style.css' />-->
  <!--</head>-->
  <% include ../partials/head.ejs %>

  <body id="dd" class="index text-primary">

    <% include ../partials/header.ejs %>

    <!--<h1>Great, the EJS helps me !</h1>-->
    <% include ../partials/content.ejs %>
    <% include ../partials/showRecipes.ejs %>
    <% include ../partials/createUpdateRecipe.ejs %>
    <% include ../partials/about.ejs %>

    <% include ../partials/footer.ejs %>

  </body>
</html>
