<section>
    <div class="section-container" id="about-section-id">
        <hr class="section-divider">
        <div>
            <h2 class="section-heading" data-l10n-id="ln10-about-header-part1">ss<span>&nbsp;</span>
                <span class="text-muted" data-l10n-id="ln10-about-header-part2"></span>
            </h2>
        </div>

        <div>
            <h2 class="lead">Should it be here? ...)</h2>
        </div>
    </div>
</section>
