    <!-- Cookbook Content Section -->
    <div class="section-container" id="content-section-id">
        <hr class="section-divider">
        <div>
            <h2 class="section-heading" data-l10n-id="ln10-content-header-part1">aa<span>&nbsp;</span>
                <span class="text-muted" data-l10n-id="ln10-content-header-part2"></span>
            </h2>
        </div>

        <div id="content-table">
            <table>
                <tbody>
                <!-- This is a working example of dynamic content filling - not in use so far -->
                    <% cookbookData.cuisines.forEach(function(cuisine) { %>
                    <div class="cuisine-container">
                        <div class="cuisine-inner-box col-xs-12 well-color">
                            <h3 class="cuisine-js"><%= cuisine.name %></h3>
                            <div class="recipes-index recipes-tab-js">
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
