    <!-- Cookbook Content Section -->
    <div class="section-container" id="content-section-id">
        <hr class="section-divider">
        <div>
            <h2 class="section-heading" data-l10n-id="ln10-content-header-part1">aa<span>&nbsp;</span>
                <span class="text-muted" data-l10n-id="ln10-content-header-part2"></span>
            </h2>
        </div>

        <div id="content-table">
            <table>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
