<section>
    <!-- Cookbook Content Section -->
    <div class="section section-container" id="coookbooks-section-id">
        <hr class="section-divider">

        <div class="row" id="cookbooks-container">
        </div>

    </div>
</section>