    <!-- Cookbook Content Section -->
    <div class="section section-container" id="coookbooks-section-id" xmlns="http://www.w3.org/1999/html">
        <hr class="section-divider">
        <!--<div>-->
            <!--<h2 class="section-heading" data-l10n-id="ln10-cookbooks-list-title">aa<span>&nbsp;</span>-->
                <!--&lt;!&ndash;<span class="text-muted" data-l10n-id="ln10-content-header-part2"></span>&ndash;&gt;-->
            <!--</h2>-->
        <!--</div>-->

        <div class="row" id="cookbooks-container">
        </div>

    </div>
