<section>

  <div class="cookbook-view">
      <% include cookbookMenu.ejs %>
      <% include content.ejs %>
      <% include showRecipes.ejs %>
      <% include createUpdateRecipe.ejs %>

  </div>

</section>
