<head>

    <meta charset="utf-8">
    <!--meta http-equiv="X-UA-Compatible" content="IE=edge"-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery -->
    <script src="/public/js/jquery.1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/public/bootstrap-3.3.5/js/bootstrap.min.js"></script>

    <!-- hebrew support -->
    <script src="/public/js/l10n.js"></script>
    <link href="/public/lang.ini" rel="prefetch" type="application/l10n">

    <script src="/public/js/feAll.js"></script>

    <script type="text/javascript">
        (function () {
            document.webL10n.setLanguage('he');
        })();
    </script>


    <title data-l10n-id="ln10-title"></title>

    <!-- Bootstrap Core CSS -->
    <link href="/public/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/trace.css" rel="stylesheet">

    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="/public/bootstrap-3.3.5/js/css/font-awesome/css/font-awesome.min.css">

    <!-- The site favicon -->
    <link rel="shortcut icon" href="/public/images/favicon.ico">
    <!--<link rel="shortcut icon" href="/public/img/favicon-blue-cat-with-eyes.ico" >-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/definitions/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/definitions/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
