<section>

    <% include mainMenu.ejs %>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1 class="cookbook-title" data-l10n-id="ln10-intro-header"></h1>
            </div>
        </div>
    </header>

    <!-- Trace Logger for Debugging -->
    <div id="TraceContainer" class="TraceContainer">
        <div id="TraceConsole" class="Trace">
        </div>
    </div>
</section>