<div class="section-container" id="view-recipe-section-id">
    <hr class="section-divider">
    <h2 class="section-heading" data-l10n-id="ln10-view-recipe-header-part1">aa<span>&nbsp;</span>
        <span class="text-muted" data-l10n-id="ln10-view-recipe-header-part2"></span>
    </h2>
    <div class="col-lg-10 float-right" >
        <div id="recipe-views-container-id">
            <div class="col-lg-3 col-xs-12 float-right">
                <ul class="nav nav-pills nav-stacked recipe-view-nav" id="recipe-view-nav-id">
                    <li class=" input-md active"><a data-toggle="tab" href="#no-recipe-tab" data-l10n-id="ln10-no-recipe-tab"></a></li>
                </ul>
            </div>

            <div class="col-lg-8 col-xs-12 float-right">
                <div class="tab-content well well-sm recipe-view-tabs" id="recipe-view-tabs-id" tabindex="0">
                    <div id="no-recipe-tab" class="tab-pane active">
                        <p data-l10n-id="ln10-no-recipe-tab-note">aa&nbsp;<span class="glyphicon glyphicon-level-up"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
